$primary: #3e69b3;
$secondary: #5d8ee3;
.has-background-secondary {
    background-color: $secondary;
}

$hero-body-padding-medium: 6rem 1.5rem;
$section-padding-medium: 6rem 1.5rem;

@import '../../node_modules/bulma/bulma';
@import 'utility';
@import 'main';
@import 'typography';

@import 'pages/privacypolicy';
@import 'pages/contact';
@import 'pages/home';
@import 'pages/service';
@import 'partials/nav';
@import 'partials/subheader';
@import 'pages/about';