/* Base Settings */
.container {
    max-width: 1140px !important;
}
h1,h2,h3,h4 {
    font-family: 'Raleway', sans-serif;
}   
p,a,li {
    font-family: 'Open Sans', sans-serif;
}
/* Subheader */
@media only screen and (max-width: 968px)  {
.subheader {
    margin-top: 4rem;
}
}
.button {
    border-radius: 0px !important;
    font-size: 1.2rem;
    transition: all .3s;
    font-weight: bold;
}
.button:hover {
    background-color: white !important;
    color: black !important;
    border-color: $primary !important;
}
.is-secondary {
    background-color: $secondary !important;
    color: white;
    border-color: $secondary;
}

/* Found in footer */
.footer_logo { 
    width: 350px;
}
.nav-item {
    color: white !important;
    transition: all .3s;

    &:hover {
        color: $primary !important;
    }
}

.footer_icon {
    fill: white;
}
.footer_bg {

}
.fill-brand-footer {
    height: 30px;
    width: 30px;
    fill: $primary;
    transition: all .3s;

    &:hover {
        fill: black;
    }
}