{{ define "main" }}
{{- partial "subheader.html" .}}
<section class="section is-medium">
    <div class="container">
        <div class="columns">
            <div class="column is-8">
                <h2 class="is-size-2 has-text-capitalized has-text-weight-bold">{{ .Params.heading1 }}</h2>
                <div class="divider"></div>
                <p class="block pt-5">{{ .Params.about1 | safeHTML }}</p>
            </div>
            
            <div class="column is-flex is-column is-justified-center is-aligned-center">
                <img src="{{ $.Site.BaseURL}}img/LogoTrans.png" class="lazyload" alt="Photo of a 3d Rendering">
                
            </div>
        </div>
        
    </div>
</section>
<section class="section">
    <div class="container pb-5 mb-5">
        <h2 class="is-size-2 has-text-capitalized has-text-weight-bold mb-5 pb-5">The Executive Team</h2>
        <div class="columns">
            <div class="column">
                <div class="" data-aos="fade-right" data-aos-duration="800">
                <img src="{{ $.Site.BaseURL}}img/Ivan.jpg" class="lazyload has-shadow" alt="Ivan yr - CEO & Visualization Specilist">
                <h3 class="is-size-3 has-text-weight-bold">Ivan Cyr</h3>
                <p class="block">President and CEO</p>
            </div>
            </div>
            <div class="column"></div>
            
            <div class="column">
                <div class="" data-aos="fade-left" data-aos-duration="800">
                <img src="{{ $.Site.BaseURL}}img/Ben.jpg" class="lazyload has-shadow" alt="Benjamin Heron - Architect">
                <h3 class="is-size-3 has-text-weight-bold">Benjamin Heron</h3>
                <p class="block">M.Arch - Inteck3D’s Intern</p>
            </div>
            </div>
        </div>
    </div>
</section>
<section class="section is-medium texture">
    <div class="container">
    <h2 class="is-size-2 has-text-white has-text-centered has-text-weight-bold">{{ .Params.heading2 }}</h2>
    <div class="py-5 my-5"></div>
    <div class="columns">
        <div class="column">
            <div class="about_box is-flex is-column is-justified-center is-aligned-center" data-aos="fade-up" data-aos-duration="800">
                
                <h3 class="is-size-5 has-text-centered has-text-weight-bold subline">{{ .Params.box1 }}</h3>
  
                <p class="has-text-centered has-font-size-small">{{ .Params.box1_desc }}</p>
            </div>
            
        </div>

        <div class="column">
            <div class="about_box is-flex is-column is-justified-center is-aligned-center" data-aos="fade-up" data-aos-duration="800">
            <h3 class="is-size-5 has-text-centered has-text-weight-bold subline">{{ .Params.box2 }}</h3>

            <p class="has-text-centered has-font-size-small">{{ .Params.box2_desc }}</p>
        </div>
        </div>

        <div class="column">
            <div class="about_box is-flex is-column is-justified-center is-aligned-center" data-aos="fade-up" data-aos-duration="800">
            <h3 class="is-size-5 has-text-centered has-text-weight-bold subline">{{ .Params.box3 }}</h3>

            <p class="has-text-centered has-font-size-small">{{ .Params.box3_desc }}</p>
        </div>
            </div>
    </div>
</div>
</section>
{{- partial "cta.html" .}}
{{ end }}