{{ define "main" }}
<header class="hero is-fullheight is-bold gradient-background home">

  <div class="hero-body overlay">
 
    <div class="container is-flex is-column">
      <div class="columns">
        <div class="column is-8 has-text-white is-flex is-column is-justified-center">

          <p class="is-size-4 has-text-capitalized pl-1 has-text-weight-bold has-text-white has-text-shadow"
            data-aos="fade-right" data-aos-duration="800">{{ .Params.hero1 | safeHTML }}</p>

          <h1 class="title is-size-1 my-3 has-text-white has-text-shadow" data-aos="fade" data-aos-delay="500"
            data-aos-duration="800">
            {{ .Params.hero2 | safeHTML }}
          </h1>

          <h2 class="subtitle mt-1 is-size-3 has-text-white has-text-shadow " data-aos="fade-up" data-aos-delay="1000"
            data-aos-duration="800">
            {{ .Params.hero3 | safeHTML }}
          </h2>
          <div class="is-flex is-row is-column-touch" data-aos="fade" data-aos-delay="1500" data-aos-duration="800">
            <div class="mb-2 mr-2">
              {{ if eq .Site.Language.Lang "fr" }}
              <a class="button is-primary" title="Découvrez Nos Produits"
                href="{{ $.Site.BaseURL }}fr/produits/">Découvrez Nos Produits</a>
              {{ else }}
              <a class="button is-primary" title="Discover for Products" href="{{ $.Site.BaseURL }}services/">Discover
                Our Services</a>
              {{ end }}

            </div>
            <div class="">
              {{ if eq .Site.Language.Lang "fr" }}
              <a class="button is-primary" title="Découvrez Nos Services"
                href="{{ $.Site.BaseURL }}fr/services/">Découvrez Nos Services</a>
              {{ else }}
              <a class="button is-primary" title="Discover Our Services" href="{{ $.Site.BaseURL }}portfolio/">Browse Our Portfolio</a>
              {{ end }}

            </div>
          </div>
        </div>

      </div>
      
    </div>
  </div>

</header>
<section id="benefits-intro" class="section mt-5 has-background-white has-text-dark has-text-weight-bold">
  <div class="container">
    <div class="is-flex is-column is-justified-center is-aligned-center">
      <h2 class="is-size-1 has-text-centered has-text-weight-bold has-text-capitalized pb-5">{{ .Params.heading1 }}</h2>
      <p class="block has-text-centered has-text-weight-normal">{{ .Params.heading1_sub }}
      </p>
    </div>
    <div class="columns">
      <div class="column">
        <div class="service_box" data-aos="fade-up"
          data-aos-duration="800">
          <div class="service_content is-flex is-column is-justified-center is-aligned-center">
          <svg class="home_icon">
            <use xlink:href="{{ $.Site.BaseURL }}icons/light.svg#cube"></use>
          </svg>
          <h3 class="is-size-4 has-text-centered has-text-weight-bold">{{ .Params.service1 }}</h3>
          <p class="has-text-centered has-font-size-small">{{ .Params.service1_desc }}</p>
        </div>
          <div class="has-text-centered">
            {{ if eq .Site.Language.Lang "fr" }}
              <a href="/fr/services/" class="button is-primary">{{ i18n "learnmore" }}</a>
              {{ else }}
              <a href="/services/" class="button is-primary">{{ i18n "learnmore" }}</a>
              {{ end }}
            
          </div>
        </div>

      </div>

      <div class="column">
        <div class="service_box " data-aos="fade-up"
          data-aos-duration="800">
          <div class="service_content is-flex is-column is-justified-center is-aligned-center">
          <svg class="home_icon">
            <use xlink:href="{{ $.Site.BaseURL }}icons/light.svg#play-circle"></use>
          </svg>
          <h3 class="is-size-4 has-text-centered has-text-weight-bold">{{ .Params.service2 }}</h3>
          <p class="has-text-centered has-font-size-small">{{ .Params.service2_desc }}</p>
        </div>
        <div class="has-text-centered">
          {{ if eq .Site.Language.Lang "fr" }}
              <a href="/fr/services/" class="button is-primary">{{ i18n "learnmore" }}</a>
              {{ else }}
              <a href="/services/" class="button is-primary">{{ i18n "learnmore" }}</a>
              {{ end }}
        </div>
        </div>
      </div>

      <div class="column">
        <div class="service_box" data-aos="fade-up"
          data-aos-duration="800">
          <div class="service_content is-flex is-column is-justified-center is-aligned-center">
          <svg class="home_icon">
            <use xlink:href="{{ $.Site.BaseURL }}icons/light.svg#pencil-ruler"></use>
          </svg>
          <h3 class="is-size-4 has-text-centered has-text-weight-bold">{{ .Params.service3 }}</h3>
          <p class="has-text-centered has-font-size-small">{{ .Params.service3_desc }}</p>
          </div>
          <div class="has-text-centered">
            {{ if eq .Site.Language.Lang "fr" }}
            <a href="/fr/services/" class="button is-primary">{{ i18n "learnmore" }}</a>
            {{ else }}
            <a href="/services/" class="button is-primary">{{ i18n "learnmore" }}</a>
            {{ end }}
        </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section is-medium" data-aos="fade-up" data-aos-duration="800">

  <div class="container pb-5 mb-5">
    <h2 class="has-text-centered is-size-1 mb-5 pb-5 has-text-weight-bold has-text-capitalized">{{ .Params.heading2 | safeHTML }}</h2>
    <div class="columns">
      <div class="column is-8">
        
        <p class="pr-5-desktop has-text-centered-touch">{{ .Params.heading2_sub | safeHTML }}</p>
      </div>
      <div class="column is-4 is-flex is-column is-aligned-center is-justified-center">
        <img src="{{ $.Site.BaseURL }}img/3drendering.jpg" alt="Image of a 3d rendering" class="has-shadow">
        
      </div>
    </div>
  </div>
</section>
<section id="testimonials" class="section is-medium has-text-white testimonials has-text-capitalized">
  <div class="container">
    <h2 class="has-text-centered is-size-1 has-text-capitalized has-text-weight-bold pb-5 mb-5">{{ i18n "testimonials" }}</h2>

    <div class="columns is-5 " data-aos="fade-up" data-aos-duration="800">
      <div class="column">
        <div class="testimonial testimonial_1">
          <h2 class="testimonial__name is-size-4 has-text-weight-bold">{{ .Params.Testimonial1_comment }}</h2>
          <h2 class="is-size-5 has-text-weight-bold">{{ .Params.Testimonial1_name }}</h2>
          {{- partial "stars.html" .}}
          <p class="block testimonial__text">{{ .Params.Testimonial1 }}</p>
        </div>
      </div>
      <div class="column">
        <div class="testimonial testimonial_2">
          <h2 class="testimonial__name is-size-4 has-text-weight-bold">{{ .Params.Testimonial2_comment }}</h2>
          <h2 class="is-size-5 has-text-weight-bold">{{ .Params.Testimonial2_name }}</h2>
          {{- partial "stars.html" .}}
          <p class="block testimonial__text">{{ .Params.Testimonial2 }}</p>
        </div>
      </div>
    </div>

    <div class="columns is-5" data-aos="fade-up" data-aos-duration="800">
      <div class="column">
        <div class="testimonial testimonial_1">
          <h2 class="testimonial__name is-size-4 has-text-weight-bold">{{ .Params.Testimonial3_comment }}</h2>
          <h2 class="is-size-5 has-text-weight-bold">{{ .Params.Testimonial3_name }}</h2>
          {{- partial "stars.html" .}}
          <p class="block testimonial__text">{{ .Params.Testimonial3 }}</p>
        </div>
      </div>
      <div class="column">
        <div class="testimonial testimonial_2">
          <h2 class="testimonial__name is-size-4 has-text-weight-bold">{{ .Params.Testimonial4_comment }}</h2>
          <h2 class="is-size-5 has-text-weight-bold">{{ .Params.Testimonial4_name }}</h2>
          {{- partial "stars.html" .}}
          <p class="block testimonial__text">{{ .Params.Testimonial4 }}</p>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="section is-medium">
  <div class="container">
    <div class="pb-5 mb-5">
    <h2 class="is-size-1 has-text-centered has-text-weight-bold has-text-capitalized">Types Of Projects</h2>
  </div>
    <div class="columns">
      <div class="column">
        <div class="service_box" data-aos="fade-up"
          data-aos-duration="800">
          <div class="service_content is-flex is-column is-justified-center is-aligned-center">
          <svg class="home_icon">
            <use xlink:href="{{ $.Site.BaseURL }}icons/light.svg#tools"></use>
          </svg>
          <h3 class="is-size-4 has-text-centered has-text-weight-bold">{{ .Params.service4 }}</h3>
          <p class="has-text-centered has-font-size-small">{{ .Params.service4_desc }}</p>
        </div>
          <div class="has-text-centered">
            {{ if eq .Site.Language.Lang "fr" }}
              <a href="/fr/services/#service1" class="button is-primary">{{ i18n "learnmore" }}</a>
              {{ else }}
              <a href="/services/#service1" class="button is-primary">{{ i18n "learnmore" }}</a>
              {{ end }}
            
          </div>
        </div>

      </div>

      <div class="column">
        <div class="service_box " data-aos="fade-up"
          data-aos-duration="800">
          <div class="service_content is-flex is-column is-justified-center is-aligned-center">
          <svg class="home_icon">
            <use xlink:href="{{ $.Site.BaseURL }}icons/light.svg#house-night"></use>
          </svg>
          <h3 class="is-size-4 has-text-centered has-text-weight-bold">{{ .Params.service5 }}</h3>
          <p class="has-text-centered has-font-size-small">{{ .Params.service5_desc }}</p>
        </div>
        <div class="has-text-centered">
          {{ if eq .Site.Language.Lang "fr" }}
              <a href="/fr/services/#service2" class="button is-primary">{{ i18n "learnmore" }}</a>
              {{ else }}
              <a href="/services/#service2" class="button is-primary">{{ i18n "learnmore" }}</a>
              {{ end }}
        </div>
        </div>
      </div>

      <div class="column">
        <div class="service_box" data-aos="fade-up"
          data-aos-duration="800">
          <div class="service_content is-flex is-column is-justified-center is-aligned-center">
          <svg class="home_icon">
            <use xlink:href="{{ $.Site.BaseURL }}icons/light.svg#hotel"></use>
          </svg>
          <h3 class="is-size-4 has-text-centered has-text-weight-bold">{{ .Params.service6 }}</h3>
          <p class="has-text-centered has-font-size-small">{{ .Params.service6_desc }}</p>
          </div>
          <div class="has-text-centered">
            {{ if eq .Site.Language.Lang "fr" }}
            <a href="/fr/services/#service3" class="button is-primary">{{ i18n "learnmore" }}</a>
            {{ else }}
            <a href="/services/#service3" class="button is-primary">{{ i18n "learnmore" }}</a>
            {{ end }}
        </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{- partial "cta.html" .}}
{{ end }}