{{ define "main" }}
{{- partial "subheader.html" .}}
<section>

</section>
<section class="section is-medium">
  <div class="container">
    <h2 class="is-size-2 has-text-weight-bold has-text-capitalized">{{ .Params.intro }}</h2>
    <div class="divider"></div>
    <p class="block">{{ .Params.intro_text | safeHTML}}</p>
    
    <div class="my-5 py-5"></div>
  
  <div class="mt-5">
    <h2 class="is-size-2 has-text-weight-bold has-text-capitalized">Past Projects</h2>
    <div class="divider"></div>
    {{ $display_posts := ((.Site.GetPage "section" "/portfolio").Pages) }}
    {{ range $post := $display_posts }}
    <div class="columns my-4 py-4">
      <div class="column is-4">
        <img src="{{ $.Site.BaseURL}}{{ $post.Params.thumbnail }}" alt="{{ $post.Params.title }}" class="has-shadow">
      </div>
      <div class="column is-8">
        <a href="{{ $post.Params.slug}}"><h4 class="is-size-3 has-text-weight-bold has-text-capitalized">{{ $post.Params.title }}</h4></a>
        <p class="block">{{ $post.Params.description | safeHTML }}</p>
        <a href="{{ $post.Params.slug}}" class="button is-primary">See Full Details</a>
      </div>
    </div>
    
    
  {{ end }}
  </div>
</section>
{{- partial "cta.html" .}}
{{ end }}