{{ define "main" }}
{{- partial "subheader.html" .}}
<section class="section is-medium"  data-aos="fade-up" data-aos-delay="500" data-aos-duration="800">
    <div class="container">
        <div class="columns">
            <div class="column is-8">

                <h2 class="is-size-2 has-text-weight-bold has-text-uppercase">{{ .Params.product1 }}</h2>
                <h3 class="is-size-5 has-text-weight-bold has-text-uppercase py-3">{{ .Params.product1_desc1 }}
                </h3>
                <p class="block">{{ .Params.product1_desc2 | safeHTML }}</p>

            </div>
            <div class="column is-4 is-flex is-justified-center is-aligned-center"><img
                    src="{{ $.Site.BaseURL }}img/ekocleaner.jpg" class="lazyload" alt=""></div>
        </div>

        <div class="columns">
            <div class="column">
                <div class="is-flex is-aligned-center py-3">
                    <svg class="service_icon">
                        <use xlink:href="{{ $.Site.BaseURL }}icons/solid.svg#dog"></use>
                    </svg>{{ .Params.product1_bullet1 | safeHTML }}
                </div>
                <div class="is-flex is-aligned-center py-3">
                    <svg class="service_icon">
                        <use xlink:href="{{ $.Site.BaseURL }}icons/solid.svg#leaf"></use>
                    </svg>{{ .Params.product1_bullet2 | safeHTML }}
                </div>
                <div class="is-flex is-aligned-center py-3">
                    <svg class="service_icon">
                        <use xlink:href="{{ $.Site.BaseURL }}icons/solid.svg#head-side-cough-slash"></use>
                    </svg>{{ .Params.product1_bullet3 | safeHTML }}
                </div>
            </div>
            <div class="column">
                <div class="is-flex is-aligned-center py-3">
                    <svg class="service_icon">
                        <use xlink:href="{{ $.Site.BaseURL }}icons/solid.svg#ram"></use>
                    </svg>{{ .Params.product1_bullet4 | safeHTML }}
                </div>
                <div class="is-flex is-aligned-center py-3">
                    <svg class="service_icon">
                        <use xlink:href="{{ $.Site.BaseURL }}icons/solid.svg#window-close"></use>
                    </svg>{{ .Params.product1_bullet5 | safeHTML }}
                </div>
                <div class="is-flex is-aligned-center py-3">
                    <svg class="service_icon">
                        <use xlink:href="{{ $.Site.BaseURL }}icons/solid.svg#mortar-pestle"></use>
                    </svg>{{ .Params.product1_bullet6 | safeHTML }}
                </div>
            </div>
            <div class="column">
                <div class="is-flex is-aligned-center py-3">
                    <svg class="service_icon">
                        <use xlink:href="{{ $.Site.BaseURL }}icons/solid.svg#tree-alt"></use>
                    </svg>{{ .Params.product1_bullet7 | safeHTML }}
                </div>
                <div class="is-flex is-aligned-center py-3">
                    <svg class="service_icon">
                        <use xlink:href="{{ $.Site.BaseURL }}icons/solid.svg#flask"></use>
                    </svg>{{ .Params.product1_bullet8 | safeHTML }}
                </div>
                <div class="is-flex is-aligned-center py-3">
                    <svg class="service_icon">
                        <use xlink:href="{{ $.Site.BaseURL }}icons/solid.svg#recycle"></use>
                    </svg>{{ .Params.product1_bullet9 | safeHTML }}
                </div>
            </div>
        </div>

        <h3 class="is-size-3 has-text-weight-bold has-text-uppercase py-3">{{ .Params.product1_heading2 }}</h3>
        <p class="block">{{ .Params.product1_desc3 }}</p>
        <div class="py-1"></div>
        <h3 class="is-size-5 has-text-weight-bold has-text-uppercase pb-3">{{ .Params.product1_cta }}</h3>
        <a href="https://www.cratejoy.com/subscription-box/the-ekocleaner-subscription-ecoaccentbyproficleanca/" class="button is-primary mt-5">{{ .Params.start }}</a>

    </div>
</section>
<section class="section" data-aos="fade-up" data-aos-delay="500" data-aos-duration="800">
    <div class="container">
        <h2 class="is-size-2 has-text-weight-bold has-text-uppercase">{{ .Params.product2 }}</h2>
        <div class="columns py-5 my-5">
            <div class="column is-8">
                <p class="block">{{ .Params.product2_desc1 | safeHTML }}</p>
                <div class="py-1"></div>
                <a href="https://www.ekoaccent.com/en/homepage/" class="button is-primary">{{ .Params.start2 }}</a>
            </div>
            <div class="column is-4">
                <img
                    src="{{ $.Site.BaseURL }}img/product2.jpg" class="has-shadow lazyload w-100" alt="">
            </div>
        </div>
    </div>
</section>
{{- partial "cta.html" .}}
{{ end }}