{{ define "main" }}
{{- partial "subheader.html" .}}
<section>
    <div class="container">
<div class="columns my-4" data-aos="fade" data-aos-delay="500" data-aos-duration="800">
    <div class="column is-flex is-justified-center p-5"><img src="{{ $.Site.BaseURL }}img/Badge-1.png" class="lazyload" alt="Free Estimates"></div>
    <div class="column is-flex is-justified-center p-5"><img src="{{ $.Site.BaseURL }}img/Badge-2.png" class="lazyload" alt="Free Visual"></div>
    <div class="column is-flex is-justified-center p-5"><img src="{{ $.Site.BaseURL }}img/Badge-3.png" class="lazyload" alt="Industry Standards"></div>
    <div class="column is-flex is-justified-center p-5"><img src="{{ $.Site.BaseURL }}img/Badge-4.png" class="lazyload" alt="Free Cleaning Policy"></div>
    <div class="column is-flex is-justified-center p-5"><img src="{{ $.Site.BaseURL }}img/Badge-5.png" class="lazyload" alt="Professional"></div>
</div>
</div>
</section>
<section id="floorcare" class="section is-small" data-aos="fade" data-aos-delay="500" data-aos-duration="800">
    <div class="container">
        <div class="columns">
            <div class="column is-8 floorcare_content">

                <h2 class="is-size-2 has-text-weight-bold has-text-uppercase">{{ .Params.Service1 }}</h2>
                <p class="block">{{ .Params.Service1_desc | safeHTML }}</p>

                <p class="block"><svg class="warning_icon">
                    <use xlink:href="{{ $.Site.BaseURL }}icons/solid.svg#badge-dollar"></use>
                  </svg><strong>{{ .Params.service1_bonus1 | safeHTML }}</strong></p>

                  <p class="block"><svg class="warning_icon">
                    <use xlink:href="{{ $.Site.BaseURL }}icons/solid.svg#badge-dollar"></use>
                  </svg><strong>{{ .Params.service1_bonus2 | safeHTML }}</strong></p>

                  <p class="block"><svg class="warning_icon">
                    <use xlink:href="{{ $.Site.BaseURL }}icons/solid.svg#badge-dollar"></use>
                  </svg><strong>{{ .Params.service1_bonus3 | safeHTML }}</strong></p>

                <div class="mb-5"></div>
                {{ if eq .Site.Language.Lang "fr" }}
                <a class="button is-primary" 
                  href="{{ $.Site.BaseURL }}fr/contact/">{{ i18n "freequote" }}</a>
                {{ else }}
                <a class="button is-primary" href="{{ $.Site.BaseURL }}contact/">{{ i18n "freequote" }}</a>
                {{ end }}
            </div>
            <div class="column is-4 is-flex is-justified-center is-aligned-center"><img src="{{ $.Site.BaseURL }}img/floor.jpg" class="has-shadow lazyload" alt="Floor Care Services"></div>
        </div>
    </section>
    <section id="commercial" class="section is-small" data-aos="fade-up" data-aos-delay="500" data-aos-duration="800">
        <div class="container">
        <div class="columns mb-5 pb-5">
            <div class="column is-8 floorcare_content">

                <h2 class="is-size-2 has-text-weight-bold has-text-uppercase">{{ .Params.Service2 }}</h2>
                <p class="block">{{ .Params.Service2_desc | safeHTML }}</p>
                
                
                  <p class="block"><svg class="warning_icon">
                    <use xlink:href="{{ $.Site.BaseURL }}icons/solid.svg#exclamation-triangle"></use>
                  </svg>{{ .Params.Service2_desc2 | safeHTML }}</p>

                <div class="mb-5"></div>
                {{ if eq .Site.Language.Lang "fr" }}
                <a class="button is-primary" 
                  href="{{ $.Site.BaseURL }}fr/contact/">{{ i18n "freequote" }}</a>
                {{ else }}
                <a class="button is-primary" href="{{ $.Site.BaseURL }}contact/">{{ i18n "freequote" }}</a>
                {{ end }}
            </div>
            <div class="column is-4 is-flex is-justified-center is-aligned-center"><img src="{{ $.Site.BaseURL }}img/commercial.jpg" class="has-shadow lazyload" alt="Commercial Cleaning Services"></div>
        </div>
    </div>
    </section>
    <section id="residential" class="section is-small"  data-aos="fade-up" data-aos-delay="500" data-aos-duration="800">
        <div class="container">
        <div class="columns mb-5 pb-5">
            <div class="column is-8 floorcare_content">

                <h2 class="is-size-2 has-text-weight-bold has-text-uppercase">{{ .Params.Service3 }}</h2>
                <p class="block">{{ .Params.Service3_desc | safeHTML }}</p>
                <div class="mb-5"></div>
                {{ if eq .Site.Language.Lang "fr" }}
                <a class="button is-primary" 
                  href="{{ $.Site.BaseURL }}fr/contact/">{{ i18n "freequote" }}</a>
                {{ else }}
                <a class="button is-primary" href="{{ $.Site.BaseURL }}contact/">{{ i18n "freequote" }}</a>
                {{ end }}
            </div>
            <div class="column is-4 is-flex is-justified-center is-aligned-center"><img src="{{ $.Site.BaseURL }}img/residential.jpg" class="has-shadow lazyload" alt=""></div>
        </div>
    </div>
    </div>
</section>
{{- partial "cta.html" .}}
{{ end }}