{{ define "main" }}
{{- partial "subheader.html" .}}

<section id="service1" class="section is-medium" data-aos="fade" data-aos-delay="500" data-aos-duration="800">
    <div class="container">
        <div class="columns">
            <div class="column is-8 floorcare_content">

                <h2 class="is-size-2 has-text-weight-bold has-text-capitalized">{{ .Params.Service1 }}</h2>
                <div class="divider"></div>
                <p class="block">{{ .Params.Service1_desc | safeHTML }}</p>

                <div class="mb-5"></div>
                {{ if eq .Site.Language.Lang "fr" }}
                <a class="button is-primary" 
                  href="{{ $.Site.BaseURL }}fr/contact/">{{ i18n "freequote" }}</a>
                {{ else }}
                <a class="button is-primary" href="{{ $.Site.BaseURL }}contact/">{{ i18n "freequote" }}</a>
                {{ end }}
            </div>
            <div class="column is-4 is-flex is-justified-center is-aligned-center"><img src="{{ $.Site.BaseURL }}img/service1.jpg" class="has-shadow lazyload" alt="Floor Care Services"></div>
        </div>
    </section>
    <section id="service2" class="section is-small" data-aos="fade-up" data-aos-delay="500" data-aos-duration="800">
        <div class="container">
        <div class="columns mb-5 pb-5">
            <div class="column is-8 floorcare_content">

                <h2 class="is-size-2 has-text-weight-bold has-text-capitalized">{{ .Params.Service2 }}</h2>
                <div class="divider"></div>
                <p class="block">{{ .Params.Service2_desc | safeHTML }}</p>
                

                <div class="mb-5"></div>
                {{ if eq .Site.Language.Lang "fr" }}
                <a class="button is-primary" 
                  href="{{ $.Site.BaseURL }}fr/contact/">{{ i18n "freequote" }}</a>
                {{ else }}
                <a class="button is-primary" href="{{ $.Site.BaseURL }}contact/">{{ i18n "freequote" }}</a>
                {{ end }}
            </div>
            <div class="column is-4 is-flex is-justified-center is-aligned-center"><img src="{{ $.Site.BaseURL }}img/service2.jpg" class="has-shadow lazyload" alt="Commercial Cleaning Services"></div>
        </div>
    </div>
    </section>
    <section id="service3" class="section is-small"  data-aos="fade-up" data-aos-delay="500" data-aos-duration="800">
        <div class="container">
        <div class="columns mb-5 pb-5">
            <div class="column is-8 floorcare_content">

                <h2 class="is-size-2 has-text-weight-bold has-text-capitalized">{{ .Params.Service3 }}</h2>
                <div class="divider"></div>
                <p class="block">{{ .Params.Service3_desc | safeHTML }}</p>
                <div class="mb-5"></div>
                {{ if eq .Site.Language.Lang "fr" }}
                <a class="button is-primary" 
                  href="{{ $.Site.BaseURL }}fr/contact/">{{ i18n "freequote" }}</a>
                {{ else }}
                <a class="button is-primary" href="{{ $.Site.BaseURL }}contact/">{{ i18n "freequote" }}</a>
                {{ end }}
            </div>
            <div class="column is-4 is-flex is-justified-center is-aligned-center"><img src="{{ $.Site.BaseURL }}img/service3.jpg" class="has-shadow lazyload" alt=""></div>
        </div>
    </div>
    </div>
</section>
{{- partial "cta.html" .}}
{{ end }}