.about_box {
    background-color: white;
    padding: 3rem 2rem;
    height: 100%;
}
.subline {
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 4px solid $primary;
}
.about_section2 {
    background-color: $secondary;
}
.texture {
    background-color: #333333;
    background-image: url("../img/bg.svg");
    background-attachment: fixed;
    background-size: cover;
}