<section class="section is-medium has-background-primary has-text-white">
    <div class="container is-flex is-column is-aligned-center">
        <h2 class="has-text-centered is-size-2 has-text-weight-bold my-3">{{ .Params.cta }}</h2>
        <div class="pt-5">
            {{ if eq .Site.Language.Lang "fr" }}
            <a class="button is-white is-large" title="Découvrez Nos Services"
              href="{{ .Site.BaseURL }}fr/contact/">Contactez Nous!</a>
            {{ else }}
            <a class="button is-white" title="Contact Us" href="{{ .Site.BaseURL }}contact/">Get in Touch</a>
            {{ end }}
          </div>
    </div>
  </section>