<section class="section is-medium has-background-primary has-text-white">
    <div class="container is-flex is-column is-aligned-center">
        <h2 class="has-text-centered is-size-2 has-text-weight-bold my-3 has-text-capitalized has-text-white">{{ .Params.cta }}</h2>
        <div class="pt-5">
            <div class="getquote">
            <a class="button is-white" title="Contact Us" href="{{ .Site.BaseURL }}contact/">Get in Touch</a>
          </div>
            <div class="callnow">
              <a class="button is-secondary" title="Call Now" href="tel:{{ $.Site.Params.schema.phone }}">Call Now</a>
            </div>
          </div>
    </div>
  </section>