<section class="section has-text-centered-touch footer_bg">

  <div class="container">

    <div class="columns mt-6">

      <div class="column is-6 is-flex is-justified-center is-aligned-center">

        <img src="{{ $.Site.BaseURL }}{{ .Site.Params.schema.logofooter }}" alt="{{ .Site.Params.name }}"
          class="lazyload footer_logo" />
      </div>

      <div class="column is-3">
        <h3 class="is-size-4 has-text-uppercase mb-2">{{ i18n "navigate" }}</h3>

        <nav class="">

          <ul class="">
            {{ range .Site.Menus.main -}}

            <li class="py-1 is-size-5"><a class="has-text-primary nav-item" href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>

            {{ end }}

          </ul>

        </nav>

      </div>

      <div class="column is-3">
        <h3 class="is-size-4 has-text-uppercase mb-2">Contact</h3>

        <div class="is-flex is-row is-aligned-center is-justified-center-touch mb-2">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-telephone-outbound-fill contact_icon"
            fill="currentColor" xmlns="http://www.w3.org/2000/svg">

            <path fill-rule="evenodd"
              d="M2.267.98a1.636 1.636 0 0 1 2.448.152l1.681 2.162c.309.396.418.913.296 1.4l-.513 2.053a.636.636 0 0 0 .167.604L8.65 9.654a.636.636 0 0 0 .604.167l2.052-.513a1.636 1.636 0 0 1 1.401.296l2.162 1.681c.777.604.849 1.753.153 2.448l-.97.97c-.693.693-1.73.998-2.697.658a17.471 17.471 0 0 1-6.571-4.144A17.47 17.47 0 0 1 .639 4.646c-.34-.967-.035-2.004.658-2.698l.97-.969zM11 .5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V1.707l-4.146 4.147a.5.5 0 0 1-.708-.708L14.293 1H11.5a.5.5 0 0 1-.5-.5z" />

          </svg>

          <a href="tel:{{ $.Site.Params.schema.phone }}" class="has-text-primary pl-2">{{ $.Site.Params.schema.phone }}</a>
        </div>

        <div class="is-flex is-row is-aligned-center is-justified-center-touch mb-2">

          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope-fill contact_icon" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z" />
          </svg>

          <a href="mailto:{{ $.Site.Params.schema.email }}" class="pl-2 has-text-primary">{{ $.Site.Params.schema.email }}</a>

        </div>

      </div>

    </div>
  </div>
</section>
<div class="has-background-light py-4">

  <div class="container level has-text-dark">

    <div class="level-left">

      <div class="level-item">

        <p>Copyright © {{ dateFormat "2006" now }} -

          {{ if eq .Site.Language.Lang "fr" }}

          <a href="{{ .Site.BaseURL }}/privacy-policy" class="has-text-primary">{{ i18n "privacypolicy" }}

            {{ else }}

            <a href="{{ .Site.BaseURL | relLangURL }}privacy-policy" class="has-text-primary has-text-centered-touch">{{ i18n "privacypolicy" }}</a>

            {{ end }}

          </a>

        </p>

      </div>
    </div>

    <div class="level-right has-text-centered-touch">

      <p class="">{{ i18n "credit" }} <a href="https://www.supersonicsites.com" class="has-text-primary">Supersonic
          Sites</a></p>

    </div>

  </div>

</div>